@model User

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddOrEditUser">

            <div class="from-group">
                @Html.LabelFor(model => model.Name)
                <br />
                @Html.EditorFor(model => model.Name)
                <br />
                @Html.ValidationMessageFor(x => x.Name)
            </div>

            <div class="from-group">
                @Html.LabelFor(model => model.Password)
                <br />
                @Html.EditorFor(model => model.Password)
                <br />
                @Html.ValidationMessageFor(x => x.Password)
            </div>

            @Html.HiddenFor(x => x.Id)

            <input type="submit" value="Save" class="btn"/>

        </form>
    </div>
</div>

<div>
    @Html.ValidationSummary()
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}