@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using WebAppMVC.Resources
@model IEnumerable<User>

@inject IStringLocalizer<Users> StringLocalizer
@inject IHtmlLocalizer<Users> HtmlLocalizer
@inject IViewLocalizer ViewLocalizer

@* StringLocalizer -  Lokalizator dla zwykłych tekstów (bez HTML). Zwraca LocalizedString (ciąg tekstowy). Razor enkoduje jego wartość przy renderowaniu — bezpieczne dla danych tekstowych*@
@* HtmlLocalizer - Lokalizator przeznaczony do treści, które zawierają HTML. Zwraca typ reprezentujący nie-enkodowany HTML (LocalizedHtmlString/IHtmlContent), więc Razor wypisze go bez dodatkowego HTML-escapingu. *@
@* ViewLocalizer - Specjalny lokalizator przeznaczony do widoków Razor. Zwykle działa jak IHtmlLocalizer (zwraca treść HTML-compat), ale szuka zasobów bazując na lokalizacji widoku (ścieżka pliku widoku) — ułatwia trzymanie zasobów obok plików widoków. *@

<div>
 
    @using(Html.BeginForm("search", "users"@*, ... , antiforgery: false *@))
    {
        @* @Html.AntiForgeryToken() - ręczne włączenie tokena CSRF. Domyślnie włączony przy korzystaniu*@
        @ViewLocalizer["Search"] @Html.TextBox("input") <br>
        <input type="submit" value="OK" class="btn" />
    }
 
</div>
<div>

    <form asp-action="search" asp-controller="users" @* asp-antiforgery="false" *@>
        <input type="text" name="input" id="input" />
        <input type="submit" value="OK" class="btn" />
    </form>


</div>


<div>
    <table class="table">
        <thead>
            <tr>
               @await Html.PartialAsync("_UserHeader", new User())
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    @await Html.PartialAsync("_UserBody", user)
                    <td>@Html.ActionLink("Edit", "Edit", "Users", new {user.Id})</td>
                    <td>@Html.ActionLink("Delete", "Delete", "Users", new {user.Id})</td>
                </tr>
            }
        </tbody>
    </table>
</div>